:root { --link-color:#fff;
        --heading-font-family:"releway", sans-serif; 
        --text-font-family: "Open Sans", sans-serif;
        --link-hover-color: #FF6C00;
}

.global-header {background-color:#333333;}
.global-header .main-navigation a:link,
.global-header .main-navigation a:visited { 
        text-decoration: none;
        color:var(--link-color);
        font-family: var(var(--text-font-family));
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.1em;
}

.global-header .main-navigation a:hover {color: #FF6C00;}
.global-header .main-navigation a:active {color: red;}

h1, h2, h3, h4 { font-family: var(--heading-font-family); font-weight: 700; }

.phone-number{font-family: var(--text-font-family);
        color: var(--link-color);
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;
}
.phone-number:hover{color:var(--link-hover-color) ;}

.button{
color: var(--link-color);
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.09em;
text-transform: uppercase;
background-color: transparent;
cursor: pointer;
border: 1px solid var(--link-hover-color);
border-radius: 25px;
padding: 12px 25px

}

.button:hover{
        background-color:var(--link-color) ;
        color: var(--link-hover-color);
}